*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #8854b3;
}
.logo{
    width: 25vw;
}
#logo{
    width: 98.93vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #aa2e6cbb;
}
#wrapper{
    font-family: 'Work Sans', sans-serif;
}
.nav{
    color: white;
    background-color: #8854b3;
    min-width: 33.33vw;
    text-decoration: none;
    min-height: 11vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.nav:hover{
    background-color: #ce9cf7;
    color: white;
    transition: 0.3s;
}
.panel{
    display: flex;
    overflow: hidden;
    position: static;
}
.video{
    width: 98.93vw;
    height: auto;
    position: absolute;
    z-index: 1;
}
#video{
    overflow: hidden;
    height: 100vh;
    width: 98.93vw;
}
#mask{
    height: 100vh;
    width: 98.93vw;
}
/*#mask::after{
    display: block;
    position: absolute;
    left: 0;
    top: 501px;
    width: 98.93vw;
    height: 123vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    content: "";
}*/
#join{
    width: 25vw;
    height: auto;
    padding: 20px;
    padding-bottom: 45px;
    background-color: white;
    position: absolute;
    z-index: 3;
    text-align: center;
    right: 300px;
    top: 675px;
    border-radius: 30px;
}
#join_button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background-color: #01a540;
    color: white;
    border: none;
    box-shadow: none;
}
#join_button:hover{
    background-color: #1ecc60;
    transition: 0.3s;
}
#join_button:active{
    background-color: #035c25;
}
#badge{
    width: 21vw;
}
#footer{
    width: 98.93vw;
    background-color: #8854b3;
    bottom: 0;
    height: 30vh;
    position: static;
    z-index: 4;
    padding: 20px;
    margin-top: 159px;
    display: flex;
    align-items: center;
    color: white;
}
#footerlogo{
    width: auto;
    height: 25vh;
}
#account{
    right: 50px;
    top: 25px;
    position: absolute;
    padding: 0;
}
.account{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 10px;
}
#sign-up{
    background-color: #3c5e1a;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
#sign-up:hover{
    background-color: #9ebb82;
    transition: 0.3s;
}
#sign-up:active{
    background-color: #263b10;
    transition: 0.2s;
}
.nav:active{
    background-color: #653c86;
    transition: 0.2s;
}
#login:active{
    color: rgb(128, 128, 128);
    transition: 0.2s;
}